h2{
  font-family:"Homemade Apple",cursive;
  text-align: center;
  margin-left: 20px;
  color:  #8e210b;
  margin-bottom: -20px;
}
.nostre-ricette{
  display: block;
margin-bottom: 32px;
  .titolo-ricevuto{
    position: absolute;
    right: 45%;
  }
}

