.container-title{
  .testo{
    font-size: 10px;
  }
  }
  .ultime-ricette{
    .scritta-ultime-ricette{
      margin-top: 60px;
      margin-bottom: 10px;
      text-align: center;
      font-size: 30px;
      font-family:"Homemade Apple",cursive;
    }
  }
