.registrazione{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border:solid rgb(212, 211, 211);
  border-radius: 20px;
  form{
    margin-top: 40px;
    padding-left:100px ;
    margin-bottom: 40px;
  }
#nome{
  margin-top: 10px;
  width: 80%;
}
#email{
  width: 80%;
}
#password{
  width: 80%;
}
#ripetiPassword{
  width: 80%;
}
#immagine{
  background-position: center;
  background-size: cover;
  border-radius: 0px 18px 18px 0px;
  margin-right: -2px;

}
.bottone{
margin-left: 30%;
  .btn-primary{
    background-color: #8e210b!important;
    border: #8e210b;
    border-radius: 20px;
  }
}
h2{
  color: #8e210b;
}
}









input.ng-invalid.ng-touched{
  border: 2px solid red;
}
input.ng-valid{
  border: 2px solid rgb(0, 255, 0);
}


@media only screen and (min-width: 650px) and (max-width: 959px){
#contiene-tutto{
#contiene-tutto-row{
  display: flex;
  flex-direction: column;
  form{
    width: 700px;
  }
  #immagine{
    text-align: center;
    height: 300px;
    margin-left: 20%;
    border-radius: 0%;
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }
}

}


}

@media only screen and (min-width: 481px) and (max-width: 649px){
  #contiene-tutto{
    #contiene-tutto-row{
      display: flex;
      flex-direction: column;
      form{
        width: 700px;
      }
      #immagine{
        text-align: center;
        height: 200px;
        margin-left: 23%;
        border-radius: 0%;
        background-size: 400px;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
      }
    }

    }

}

@media only screen and (min-width: 0px) and (max-width: 480px){

  #contiene-tutto{
    #contiene-tutto-row{
      display: flex;
      flex-direction: column;
      form{
        width: 700px;
      }
      #immagine{
        text-align: center;
        height: 100px;
        margin-left: 27%;
        border-radius: 0%;
        background-size: 200px;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 20px;
      }
    }

    }

}
