<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">
      <img src="../assets/images/icona-cibando.png" class="logo" alt="logo cibando">
     <span id="cibando-logo">Cibando</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
      <div class="navbar-nav">

        <a class="nav-item nav-link active" routerLink="home">
          <fa-icon [icon]="iconaHome"></fa-icon>
          Home</a>

        <a class="nav-item nav-link" routerLink="ricette" >
          <fa-icon [icon]="iconaScheda"></fa-icon>
          Ricette</a>

        <a class="nav-item nav-link"  routerLink="contatti">
          <fa-icon [icon]="iconaMail" ></fa-icon>
          Contatti</a>

        <a class="nav-item nav-link "(click)="open(modal2,'accedi')" *ngIf="!authService.isLogged()" >
          <fa-icon [icon]="iconaRegistrati"></fa-icon>
          Accedi </a>

        <a class="nav-item nav-link " *ngIf="authService.isLogged()" >
          <fa-icon [icon]="iconaRegistrati"></fa-icon>
        <span id="name">ciao {{user.name}}</span>

        <a class="nave-item nav-link utente" id="utente" routerLink="/profilo" >profilo</a>

        <a class="nave-item nav-link esci" (click)="open(modal1,'esci')" cursor="pointer"> Esci <i class="pi pi-sign-out"></i></a>
      </a>
        <a class="nav-item nav-link " routerLink="/ricette/nuova-ricetta" id="nuovaRicetta" *ngIf="user?.role ==='admin'">
          <i class="pi pi-plus"></i>
          Nuova Ricetta</a>


      </div>
      <form class="form-inline my-2 my-lg-0" id="barra-di-ricerca">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="input-barra-ricerca" name="ricerca" [(ngModel)]="ricerca">
        <button class="btn" type="submit" id="bottone-barra-ricerca" (click)="onRicerca()">
          <i class="pi pi-search" id="lente-barra-ricerca">
          </i>
        </button>
      </form>
    </div>
  </nav>
</header>






<ng-template #modal1 let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    ssd
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="modal.dismiss()">Annulla</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()" ngbAutofocus>Logout</button>
  </div>
</ng-template>

<ng-template #modal2 let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
  <app-login (chiudi)="modal.dismiss()"></app-login>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="modal.dismiss()">Annulla</button>
  </div>
</ng-template>
