<div class="container-sm nuova-ricetta col-10">
  <div class="row" id="contenitore-row">
    <form class="col-8" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2     id="nuova-ricetta">Nuova Ricetta</h2>

      <div class="mb-3">
        <input type="text" class="form-control" id="titolo" name="titolo" placeholder="scrivi il titolo della ricetta"
          formControlName="title" />
        <label for="titolo" class="form-label"> titolo</label>
        <p class="help is-danger" *ngIf="!form.get('title').valid && form.get('title').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="mb-3">
          <ckeditor [editor]="editor" [config]="editorConfig" class="form-control description" name="descrizione"formControlName="description"></ckeditor>
        <label for="descrizione" class="form-label">descrizione</label>
        <p class="help is-danger" *ngIf="!form.get('description').valid && form.get('description').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="img" name="immagine" placeholder="inserisci l'indirizzo dell'immagine"
          formControlName="image" />
        <label for="immagine" class="form-label">indirizzo dell'immagine</label>
        <p class="help is-danger" *ngIf="!form.get('image').valid && form.get('image').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="difficolta" name="difficolta" placeholder="inserisci la difficoltà della ricetta"
          formControlName="difficulty" />
        <label for="difficolta" class="form-label">difficoltà</label>
        <p class="help is-danger" *ngIf="!form.get('difficulty').valid && form.get('difficulty').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="mb-3 form-check" id="checkBox">
        <input type="checkbox" class="form-check-input" id="published" name="published" formControlName="published" />
        <label class="form-check-label" for="published">publicazione ricetta</label>

        <p class="help is-danger" *ngIf="!form.get('published').valid && form.get('published').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="bottone">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" >
          crea Ricetta
        </button>
      </div>

    </form>

  </div>



</div>
<ng-template [ngIf]="modal">
  <div id="contenitore-globale">
    <div class="contieni-card-congratulazioni">
      <div class="congratulazioni">
        <h2>Congratulazioni la tua ricetta è stata inserita</h2>
      </div>
      <div class="container-card">
        <div class="card">
          <div class="card-image" [ngStyle]=" {'background-image': 'url(' + form.value.image +')'}"> </div>
          <div class="card-body">
            <h5 class="card-title">{{form.value.title}}</h5>
            <p class="card-text">{{form.value.description | slice: 0:250}}...</p>
            <img [src]="percorsoDifficolta + form.value.difficulty+'.png'" class='stelline' alt="difficoltà">
            <!-- [router-link]="'dettaglio/'+recipe.title+'/'+recipe._id">dettaglio  -->
          </div>
        </div>
       </div>

  <button class="btn bottone-nuova" cursor="pointer" (click)="nuovaRicetta()">nuova ricetta</button>
  <button class="btn croce" cursor="pointer" (click)="vaiRicette()">
    <i class="pi pi-times-circle"></i>
  </button>
  </div>


    </div>



</ng-template>
