<div class="container-sm registrazione col-12">
  <div class="row">
    <form class="col-10" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Nuova Ricetta</h2>

      <div class="mb-3">
        <input type="text" class="form-control" id="titolo" name="titolo" placeholder="scrivi il titolo della ricetta"
          formControlName="title" />
        <label for="titolo" class="form-label"> titolo</label>
        <p class="help is-danger" *ngIf="!form.get('title').valid && form.get('title').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="descrizione" name="descrizione" placeholder="scrivi la descrizione della ricetta"
          formControlName="description" />
        <label for="descrizione" class="form-label">descrizione</label>
        <p class="help is-danger" *ngIf="!form.get('description').valid && form.get('description').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="img" name="immagine" placeholder="inserisci l'indirizzo dell'immagine"
          formControlName="image" />
        <label for="immagine" class="form-label">indirizzo dell'immagine</label>
        <p class="help is-danger" *ngIf="!form.get('image').valid && form.get('image').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="mb-3">
        <input type="text" class="form-control" id="difficolta" name="difficolta" placeholder="inserisci la difficoltà della ricetta"
          formControlName="difficulty" />
        <label for="difficolta" class="form-label">difficoltà</label>
        <p class="help is-danger" *ngIf="!form.get('difficulty').valid && form.get('difficulty').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="published" name="published" formControlName="published" />
        <label class="form-check-label" for="published">publicazione ricetta</label>

        <p class="help is-danger" *ngIf="!form.get('published').valid && form.get('published').touched">
          il campo è obbligatorio
        </p>
      </div>

      <div class="bottone">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
          crea Ricetta
        </button>
      </div>

    </form>

  </div>


  <div>
    <div id="contenitore-globale">
  <h2>congratulazioni la tua ricetta è stata inserita</h2>
  <button class="btn" cursor="pointer" (click)="nuovaRicetta()" >nuova</button>
  <button class="btn" cursor="pointer" (click)="descrizioneNuovaRicetta()" >nuova</button>
  </div>


  </div>
</div>
