/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
body {
font-family: 'Montserrat', sans-serif;
}

#contenitore-totale{
  max-width: 1400px!important;
  margin: auto;
}
ngb-carousel.carousel.slide {
margin-top:-19px;
margin-bottom: 20px;


.carousel-caption{
top: 26rem;

  h3{
    font-family:"Homemade Apple",cursive;
    font-size: 40px;
    text-shadow: black 2px 2px 3px;
  }

  h2{
   font-size:10px ;
  text-shadow:black 2 px 2px 3px ;
  font-weight:lighter ;
  }
}

.carousel-control-next, .carousel-control-prev {
opacity: 1!important;

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 4rem;
  height: 4rem;
  }

}


}

#main-container{
padding: 15px;

p{
text-align: justify;
font-size: 13px;

}


.testo-evidenziato{
background-color: yellow;
width: 530px;
}

}
footer{
  display: block;
  float: left;
clear: both;
position: relative;
bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #8e210b!important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.p-password{
  display: block!important;
}
.p-inputtext {
  width: 100%!important;
}
.p-password-input{
  width: 100%!important;
}

.container-pagination{
  display: block;
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}

.pagination{
  display: flex;
  justify-content: center;
}
.testo-ricette-totali
  {
    margin-bottom: 20px!important;
  }

  .page-link.active, .active > .page-link{
    background-color: #8e210b;
    border:solid #8e210b;
    color: white!important;
  }

  .page-item:not(:first-child) .page-link{
    color: #8e210b;
  }

.disabled{
    color: #8e210b!important;
    a{
      color: #8e210b!important
    }
  }

  .navbar-toggler{
    margin-right: 20px;
  }


